version: '3'
services:
  api:
    build: .
    command: flask run --port 8000 --host 0.0.0.0
    ports:
      - "8000:8000"
    links:
      - redis
    environment:
      - FLASK_APP=sandcodex:flask_app
      - CELERY_BROKER_URL=redis://redis
      - CELERY_RESULT_BACKEND=redis://redis
  worker:
    command: celery -A sandcodex:celery_app worker --loglevel INFO
    build: .
    links:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis
      - CELERY_RESULT_BACKEND=redis://redis
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  redis:
    image: "redis:alpine"